.row{
position:relative;
margin-left:10%;
margin-right:10%;
}

.white{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:white;
float:left;
}

.black{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:#787878;
float:left;
}

#title {
position: fixed;
top: 0px;
left: 0px;
padding: 10px;
margin: 0px;
width: 100%;
background-color: #F0FFFF;
text-align: center;
z-index: 10;
font-family: 'Georgia', 'sans-serif'; 
font-weight: normal;
font-style: normal; 
font-size: 36px; 
}

#container {
 margin-top:20%;
 margin-left:15%;
 margin-right:15%;
 margin-bottom:5%;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

img {
    height: auto;
}

.clear{
clear:both; 
}
