/* Basic styling */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?q=80&w=3500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: top;
background-size: 130vmin;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Styling each row */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chessboard square styles */
.white, .black {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #edf0ff; /* light square color */
}

.black {
  background-color: #445297; /* dark square color */
}

/* Image styling */
img {
  max-width: 80%;
  max-height: 80%;
}

/* Footer styling */
footer {
  text-align: center;
  margin-top: 20px;
}
.clear {
  clear: both;
}
